# Make Gui.HeartType accessible for goodberry tooltip heart sprite rendering
public net.minecraft.client.gui.Gui$HeartType
public net.minecraft.world.entity.LivingEntity f_20922_ # attackStrengthTicker